@import url("http://fonts.googleapis.com/css?family=Roboto:100,300");
@import url("http://d2v52k3cl9vedd.cloudfront.net/basscss/4.1.7/basscss.min.css");

@import "partials/colors";
@import "partials/animations";
@import "partials/helpers";
@import "partials/tooltips";
@import "partials/switchery";
@import "partials/footer";

html {
	font-size: 140%;
	@include between-breakpoints($mobile, $tablet-horizontal) {
		font-size: 100%;
	}
}

body {
	font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p {
	font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: 300;
}

html,
body {
	height: 100%;
	min-height: 100%;
	margin: 0;
}

.container {
	padding-left: 2rem;
	padding-right: 2rem;
	max-width: 70rem;
	margin: 0 auto;
	margin-left: auto;
	margin-right: auto;
}

a {
	color: #333;
}

.header {
	position: relative;
	border-bottom: 1px solid #d3d3d3;
	background-size: cover;
	background-position: center center;
	padding: 2em;
	p {
		font-size: .7rem;
		color: lighten(black, 95%);
		margin-top: 2em;
	}
	a {
		color: white;
	}
	h1 {
		margin: 0;
		font-size: 1.2rem;
		color: lighten(black, 95%);
		@include between-breakpoints($mobile, $tablet-horizontal) {
			font-size: .9em;
			background-image: none;
		}
	}
	img {
		display: inline-block;
		vertical-align: middle;
		margin-left: 1em;
		margin-right: .5em;
		border-radius: 50%;
		width: 40px;
		height: 40px;
	}
}

.layoutswitch {
	background: lighten(black, 95%);
	border-bottom: 1px solid lighten(black, 90%);
	padding: .5em 1em;
	text-align: center;
	.switchery {
		margin-left: 1em;
		margin-right: 1em;
	}
	label {
		font-size: .8em;
		color: lighten(black, 75%);
	}
	&.inactive {
		display: none;
	}
}

ul {
	margin: 0;
	padding: 0;
	list-style: disc;
	li {
		font-size: .7em;
		margin-bottom: .2em;
		border-bottom: 1px solid lighten(black, 92%);
		a {
			@extend .cf;
			span {
				float: right;
				font-size: .7em;
				margin-left: 4em;
				color: lighten(black, 55%);
				text-transform: uppercase;
			}
		}
	}
}

.techniques {
	z-index: 100;
	header {
		background: $techniques;
		color: white;
	}
	ul {
		li {
			a {
				color: $techniques;
			}
		}
	}
}

.tools {
	z-index: 100;
	header {
		background: $tools;
		color: white;
	}
	ul {
		li {
			a {
				color: $tools;
			}
		}
	}
}

.platforms {
	z-index: 100;
	header {
		background: $platforms;
		color: white;
	}
	ul {
		li {
			a {
				color: $platforms;
			}
		}
	}
}

.frameworks {
	z-index: 100;
	header {
		background: $frameworks;
		color: white;
	}
	ul {
		li {
			a {
				color: $frameworks;
			}
		}
	}
}

/*-------------------------------------------------------------------

	Radar

-------------------------------------------------------------------*/

.radar {
	.xline {
		content: '';
		width: 110%;
		height: 1px;
		background: rgba(lighten(black, 55%), .4);
		position: absolute;
		left: -5%;
		top: 50%;
		z-index: 100;
	}
	.yline {
		content: '';
		height: 110%;
		width: 1px;
		background: rgba(lighten(black, 55%), .4);
		position: absolute;
		left: 50%;
		top: -5%;
		z-index: 100;
	}
}

.radar {
	width: 46em;
	height: 46em;
	margin: 0 auto;
	margin-top: 4rem;
	background: lighten(black, 95%);
	border-radius: 50%;
	position: relative;
	margin-bottom: 4em;
	@include between-breakpoints($mobile, $mobile-horizontal) {
		width: 250px;
		height: 250px;
	}
	@include between-breakpoints($mobile-horizontal, $desktop) {
		width: 450px;
		height: 450px;
	}
}

.radar {
	h3 {
		@include between-breakpoints($mobile, $desktop) {
			font-size: .8em;
		}
	}
	.techniques {
		color: $techniques;
		left: -3em;
		top: 0;
		position: absolute;
	}
	.tools {
		color: $tools;
		right: -3em;
		top: 0;
		position: absolute;
	}
	.platforms {
		color: $platforms;
		left: -3em;
		bottom: 0;
		position: absolute;
	}
	.frameworks {
		color: $frameworks;
		right: -3em;
		bottom: 0;
		position: absolute;
	}
}

.radar {
	&:before {
		content: 'Hold';
		font-size: .6em;
		text-transform: uppercase;
		position: absolute;
		top: -30px;
		left: 0;
		right: 0;
		margin: 0 auto;
		display: block;
		text-align: center;
	}
}

.adopt {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 35%;
	width: 30%;
	height: 30%;
	border-radius: 50%;
	border: 2px solid white;
	background: lighten(black, 85%);
	z-index: 3;
	&:before {
		content: 'Adopt';
		font-size: .6em;
		text-transform: uppercase;
		position: absolute;
		top: -30px;
		left: 0;
		right: 0;
		margin: 0 auto;
		display: block;
		text-align: center;
	}
}

.trial {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 20%;
	width: 60%;
	height: 60%;
	border-radius: 50%;
	border: 2px solid white;
	background: lighten(black, 90%);
	z-index: 2;
	&:before {
		content: 'Trial';
		font-size: .6em;
		text-transform: uppercase;
		position: absolute;
		top: -30px;
		left: 0;
		right: 0;
		margin: 0 auto;
		display: block;
		text-align: center;
	}
}

.assess {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 10%;
	width: 80%;
	height: 80%;
	border-radius: 50%;
	border: 2px solid white;
	background: lighten(black, 92%);
	&:before {
		content: 'Assess';
		font-size: .6em;
		text-transform: uppercase;
		position: absolute;
		top: -30px;
		left: 0;
		right: 0;
		margin: 0 auto;
		display: block;
		text-align: center;
	}
}

.radar {
	&.compact {
		background: none;
		max-width: 60%;
		height: auto;
		#blips,
		.xline,
		.yline,
		.adopt,
		.assess,
		.trial {
			display: none;
		}
		&:before {
			display: none;
		}
		.techniques,
		.tools,
		.platforms,
		.frameworks {
			position: static;
			top: auto;
			left: auto;
			right: auto;
			width: 100%;
		}
	}
}

/*-------------------------------------------------------------------

	Blips

-------------------------------------------------------------------*/

.blip {
	display: block;
	width: 16px;
	height: 16px;
	border: 1px solid white;
	&:hover {
		animation: waves .1s ease-in-out 1 forwards;
	}
	@include between-breakpoints($mobile, $desktop) {
		width: 12px;
		height: 12px;
	}
	border-radius: 50%;
	background: $platforms;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	&--techniques {
		background: $techniques;
	}
	&--tools {
		background: $tools;
	}
	&--platforms {
		background: $platforms;
	}
	&--frameworks {
		background: $frameworks;
	}
}

@keyframes waves {
    0% { box-shadow: 0 0 0 1px rgba(lighten(black, 55%), .3); }
    100% { box-shadow: 0 0 0 4px rgba(lighten(black, 55%), .3);}
}