.footer {
	margin-top: 6em;
	background: lighten($footer, 12%);
	color: lighten($profile, 60%);
	a {
		color: lighten($profile, 40%);
		transition: all 400ms ease;
		&:hover {
			text-decoration: none;
			color: white;
		}
	}
	.twitter-share-button {
		float: right;
		@include between-breakpoints($mobile, $tablet-horizontal) {
			float: left;
			margin-top: 1em;
		}
	}
	&__copy {
		color: lighten(black, 75%);
		a {
			transition: all 400ms ease;
			color: lighten(black, 75%);
			&:hover {
				color: $profile_dark;
				text-decoration: none;
			}
		}
	}
}
