.footer {
	margin-top: 6em;
	background: lighten(#FFC98D, 12%);
	a {
		color: #F1701B;
	}
	.twitter-share-button {
		float: right;
		@include between-breakpoints($mobile, $tablet-horizontal) {
			float: left;
			margin-top: 1em;
		}
	}
	&__copy {
		color: lighten(black, 75%);
		a {
			transition: all 400ms ease;
			color: lighten(black, 75%);
			&:hover {
				color: #F1701B;
			}
		}
	}
}