.tooltip {
    text-align: center;
    color: #fff;
    background-color: rgba(#333, 1);
    position: absolute;
    z-index: 100;
    padding: .6em 1.2em;
    font-size: .9em;
    @include between-breakpoints($mobile, $desktop) {
        font-size: .7em;
    }
    margin-top: 2px;
    &:after {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid rgba(#333, 1);
        content: '';
        position: absolute;
        left: 50%;
        bottom: -10px;
        margin-left: -10px;
    }
    // Fade in and out
    &.active {
        @include letsanimate(fadeIn, .5s, 0s);
    }
    &.inactive {
        @include letsanimate(fadeOut, .2s, 0s);
    }
    // Color variations
    &.techniques {
        background-color: $techniques;
        &:after {
            border-top: 10px solid rgba($techniques, 1);
        }
    }
    &.tools {
        background-color: $tools;
        &:after {
            border-top: 10px solid rgba($tools, 1);
        }
    }
    &.frameworks {
        background-color: $frameworks;
        &:after {
            border-top: 10px solid rgba($frameworks, 1);
        }
    }
    &.platforms {
        background-color: $platforms;
        &:after {
            border-top: 10px solid rgba($platforms, 1);
        }
    }
}